[submodule "voc-classification"]
    path = eval-3rd-party/voc-classification
    url  = https://github.com/jeffdonahue/voc-classification.git

[submodule "phr-caffe"]
    path = eval-3rd-party/phr_caffe
    url  = https://github.com/philkr/caffe.git

[submodule "edges"]
    path = eval-3rd-party/edges
    url  = https://github.com/pdollar/edges.git
